.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  :global {
    .header_nav {
      background-color: #ffffff;
      width: 372px;
      height: 48px;
      box-shadow: 0 25px 50px -12px rgb(0 0 0 / 40%);
      border-radius: 9999px;
      display: flex;
      justify-content: space-around;
      padding: 0px 10px;
      a {
        text-decoration: none;
        line-height: 48px;
        color: #222;
      }

      a:hover {
        font-size: 20px;
        font-weight: 500;
        color: #222;
      }
    }
    .header_title {
      font-size: 21px;
      line-height: 48px;
    }
    .header_nav_item {
      text-align: center;
      width: 93px;
      height: 100%;
    }
  }
}
