
.header {
  margin-bottom: 2.5rem;

  h1 {
    margin: 0 0 1rem;
    color: #333;
  }

  .text-time {
    color: #666;
    font-size: 0.875rem;
  }
}



.codespan {
  background-color: var(--mdx-backage-color);
  padding: 2px 4px;
  margin: 1px 3px;
  border-radius: 4px;
  font-size: 15px;
  font-family: var(--font-family);
  color: #333;

}

.heading {
  color: #333;
  margin: 2rem 0 1rem;

  &.heading-1 {
    font-size: 2em;
  }
  &.heading-2 {
    font-size: 1.5em;
  }
  &.heading-3 {
    font-size: 1.17em;
  }
}

.paragraph {
  margin-bottom: 1.5rem;
  line-height: 2.5rem;
  color: #5d6b73;
}

.link {
  color: #0366d6;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.blockquote {
  margin: 1rem 0;
  padding-left: 1rem;
  border-left: 4px solid var(--mdx-backage-color);
  color: #6a737d;
}

.ordered-list,
.unordered-list {
  margin: 1rem 0;
  padding-left: 2rem;

  .list-item {
    margin: 0.5rem 0;
    line-height: 1.75;
  }
}

.strong {
  font-weight: 600;
  color: #333;
}

.emphasis {
  font-style: italic;
}

.syntaxHighlighterWrapper {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
}

